* {
  margin: 0px;
  color: rgb(255, 0, 0);
}

h1, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url('https://images7.alphacoders.com/119/1195938.png');
  background-position: center;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sharingan {
  animation: logo-spin infinite 5s linear;
}

.shuriken {
  animation: logo-spin infinite 5s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* Header */
.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.678);
}

.card-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-content, .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.filter-footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.footer label {
  padding: 10px;
}

.filter-trunfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.footer select {
  width: 100%;
}