@import url(//db.onlinewebfonts.com/c/73fedd912ba11f583a359ce4c2e742ed?family=Ninja+Naruto);

* {
  color: aliceblue;
  margin: 2px;
  color: orange;
}

h1, h3 {
  font-family: "Ninja Naruto"; src: url("//db.onlinewebfonts.com/t/73fedd912ba11f583a359ce4c2e742ed.eot");
  padding: 10px;
  text-align: center;
}

body {
  background-color: rgb(255, 153, 0);
  background-image: url('https://assets.turbologo.com/blog/en/2021/11/14061241/Konoha-symbol.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-content, .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
}

img {
  width: 150px;
  height: auto;
  padding: 10px;
}

/* Footer */
.rodapé {
  display: flex;
  justify-content: center;
}

.rodapé select {
  width: 50%;
}